<ul class="social-media-list">
  
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" title="{{ site.github_username| escape }}">
      <img width=32px height=32px class="svg-icon" src="/assets/icons/github.svg" alt="github social link"></img>
    </a>
  </li>
  {%- endif -%}
  
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" title="{{ site.linkedin_username| escape }}">
      <img width=32px height=32px class="svg-icon" src="/assets/icons/linkedin.svg" alt="linkedin social link"></img>
    </a>
  </li>
  {%- endif -%}
  
  {%- if site.twitter_username -%}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" title="{{ site.twitter_username| escape }}">
      <img width=32px height=32px class="svg-icon" src="/assets/icons/twitter.svg" alt="twitter social link"></img>
    </a>
  </li>
  {%- endif -%}
  
</ul>
