$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;


.timeline-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.timeline {
  width:100%;
  max-width:$content-width;
  background:#fff;
  padding: 100px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(34% + 6px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: #ddd;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 34%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $theme-color-1;
      background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -16px;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      li:before {
        margin-right: .5em;
      }
    }
  }
}

@include media-query($on-laptop) {
  .timeline {
    padding-top: 50px;
    &:before {
      left: $border-width/2;
    }
  }
  .entry {
    .title {
      width: 100%;
      text-align: left;
      padding-left: $gutter;
      padding-right: 0;
      &:before {
        left: -$dot-diameter/2;
      }
    }
    .body {
      width: 100%;
      ul {
        margin: 0;
      }
    }
  }
}

