---
layout: main
---

<script src="/assets/scripts/trigBanner.js"></script>

<div class="home-header">
  <canvas class="banner fadeIn" id="trigBan">
  </canvas>
  <div class="bannerCover">
    <div class="banner-wrapper">
      <div class="banner-sector">
        <img src="/assets/imgs/me.jpg" alt="Me" class="fadeIn roundedPic">
      </div>
      <div class="banner-sector">
         <h1 class="main-title">Nick Maltbie</h1>
         <h2 class="subtitle">Developer | Student</h2>
         
         {%- include social.html -%}
      </div>
    </div>
  </div>
  <main class="page-content" aria-label="Content">
    <ul class="front-list">
      <li><a class="front-link" href="/about">About Me</a></li>
      <li><a class="front-link" href="/blog">Blog</a></li>
      <li><a class="front-link" href="/professional">Professional</a></li>
      <li><a class="front-link" href="/honors">Honors</a></li>
    </ul>
  </div>
</div>


