---
layout: main
---

<script src="/assets/scripts/showMores.js"></script>
<script src="/assets/scripts/trigBanner.js"></script>

<div class="home-header">
  <canvas class="banner fadeIn" id="trigBan">
  </canvas>
  <div class="bannerCover">
    <div class="wrapper">
      <div class="whiteBannerText">
        <h1 class="main-title">Nick Maltbie</h1>
        <h2 class="subtitle">Developer | Student</h2>
      </div>
    </div>
  </div>
</div>

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    
    <p>Contact me here</p>
    {%- include social.html -%}
  </div>
  
  {% assign sortedcats = site.categories | reversed %}
  {% for category in sortedcats %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="category-wrapper-odd">
    {% else %}
    <div class="category-wrapper-even">
    {% endif %} 
      <div class="wrapper">
        <h2 class="cat-title" name="{{ category | first }}" id="{{ category | first }}">{{ category | first }}</h2>
        {% for post in category.last limit:3 %}
          {%- include post.html -%}
        {% endfor %}
        {% if category.last.size > 3 %}
          <div class="hidden" id="Older-{{ category | first }}">
          {% for post in category.last offset:3 %}
            {%- include post.html -%}
          {% endfor %}
          </div>
          
          <a tabindex="0" class="SeeMore" group="{{ category | first }}"></a>
        {%- endif -%}
      </div>
    </div>
  {% endfor %}
</main>

