---
layout: post
---
<div class="post-block">
{%- if page.skills and page.skills != "" -%}
<div class="post-element">
  <h3>Skills Used</h3>
  <ul class="skills-container">
  {% assign skills = page.skills | sort %}
  {%- for skill in skills -%}
    <li class="skill">
      {{ skill }}
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{%- if page.start_date and page.end_date -%}
<div class="post-element">
  {%- assign date_format = "%b %Y" -%}
  {{ page.start_date | date: date_format }} to {{ page.end_date | date: date_format }}
{% endif %}
{%- if page.employer -%}
  at {{ page.employer }}
</div>

{% if page.promotions %}
{% for promotion in page.promotions %}
<div class="post-element">
  {%- assign date_format = "%b %Y" -%}
  {{ promotion.last.start_date | date: date_format }} to {{ promotion.last.end_date | date: date_format }}
  -
  {{ promotion.last.title }}
</div>
{% endfor %}
{% endif %}
{%- endif -%}
</div>


{{ content }}
