---
layout: default
---

{{ content }}

<div id="resume">
  <div class="header-row">
    <h1 class="header-title">{{ site.data.resume.name }}</h1>
    <p class="header-text">{{ site.data.resume.address }}</p>
    <p class="header-text">{{ site.data.resume.phone }}</p>
    <p class="header-text"><a href="mailto:{{ site.data.resume.email }}">{{ site.data.resume.email }}</a></p>
    <p class="header-text"><a href="https://{{ site.data.resume.website }}">{{ site.data.resume.website }}</a></p>
  </div>
  
  {% for section in site.data.resume.sections %}
  <div class="major-row">
    <h2 class="resume-heading">{{ section | first }}</h2>
  </div>
  
  {% for elem in section.last %}
  <div class="minor-row-title">
    <div class="title-box">
      <b>{{ elem | first }}</b>
    </div>
    <div class="title-box">
      {% if elem.last.sub %}
        {{ elem.last.sub }}
      {% endif %}
    </div>
    <div class="date-box">
      {% if elem.last.date %}
        {{ elem.last.date }}
      {% endif %}
    </div>
  </div>
  
  {% if elem.last.desc %}
  <div class="minor-row-desc">
    {% if elem.last.use_dot %}
    <ul class="no-dot-list">
    {% else %}
    <ul>
    {% endif %}
    {% for line in elem.last.desc %}
      <li>{{ line }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
  
  {% endfor %}
  
</div>

